@import "tailwindcss";

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#root {
  background-image: url("assets/wallpaper.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container-app {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  height: 70%;
  width: 50%;
  background-color: rgba(236, 223, 223, 0.5);
  border-radius: 40px;
}

.container-header {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}


.date {
  letter-spacing: 3px;;
  font-size: 7vmin
}

.day {
  font-size: 5vmin;
  font-weight: 500;
}

.todo-input {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 3%;
  padding: 0px 1%;
}

.task-input {
  height: 65%;
  width: 65%;
  padding-left: 2%;
  border: none;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index:0 ;
  cursor: text;
  font-size: 20px;
}

.task-input::placeholder {
  font-size:  18px;
}

.task-date {
  height: 65%;
  width: 20%;
  border: none;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index:0 ;
  font-size: 20px;
}

.task-add {
  height: 65%;
  width: 10%;
  max-width: 50px;
  min-width:fit-content;
  border: none;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index:0 ;
  color: white;

}




.tasks-container {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}

.item {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: fit-content;
  padding-bottom: 2%;
  gap: 3px;
  border-bottom: 2px dotted rgba(0, 0, 0, 0.3);
}

.item button {
  height: fit-content;
  text-align: center;
  width: 5vmin;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;
}

.delete-item {
  background-color: rgb(157, 36, 23);
}

.delete-item:hover{
  background-color: rgb(231, 107, 93);
}

.check-item:hover{
  background-color: rgb(146, 238, 120);
  color: rgb(255, 255, 255);
}

.check-item:active {
  background-color: rgb(208, 249, 196);
  color: rgb(255, 255, 255)
}

.delete-item:active {
  background-color: rgb(255, 203, 197);
}


.item p:first-of-type {
  border: none;
  border-radius: 10px;
  background-color: white;
  padding-left: 2%;
  width: 60%;
  height: fit-content;
  word-wrap: break-word;
  white-space: normal;
  font-size: 20px;
}

.date-item {
  height: fit-content;
  width: 10%;
  min-width: 50px;
  font-size: 18px;
} */

/* @media (max-width: 643px){
  #root {
      background-image: url("assets/wallpaper_phone.png");
  }

  .container-app{
      width: 80%;
      height: 80%;
  }

  .container-header{
      justify-content: space-evenly;
      height: 25%;

  }

  .todo-input{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 25%;
      gap: 5px;

  }

  .task-input{
      width: 100%;
      font-size: 15px;
  }

  .task-input::placeholder{
      font-size: 15px;
  }

  .task-date{
      width: 100%;
  }

  .task-add{
      width: 25%;
      max-width: 50px;
      min-width: fit-content;
  }

  .item{

      display: flex;
      flex-direction: column;
      align-items: center;
      width: 95%;
      height: fit-content;
      font-size: 15px;
  }

  .item p:first-of-type{
      width: 100%;
      font-size: 15px;

  }

  .item button {
      width: 30px;
      font-size: 25px;
  }

  .date-item{
      padding-left: 6px;
      font-size: 15px;
  }

  .date {
      font-size: 35px;
  }

  .day {
      font-size: 20px;
  }
}  */



.quicksand-bold {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 24
}


.task-add:before{
  content: '';
  background: linear-gradient(45deg, #ff0000, #d02828, #ff8800, #df9029, #e1a83e, #fff200, #e2d21f, #f0e742, #ede15a);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.task-add:active {
  color: #ffffff
}

.task-add:active:after {
  background: transparent;
}

.task-add:before {
  opacity: 1;
}

.task-add:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}